
*.pyc
*.csh
*.ps1
*.11
*.cmd
*.js
*.json
*.fish
*.map
*.py
*.cfg
bin/activate
bin/dotenv
bin/f2py
bin/f2py3
bin/jsonschema
bin/langchain
bin/langchain-server
bin/markdown-it
bin/normalizer
bin/openai
bin/pinecone
bin/pip
bin/pip3
bin/pygmentize
bin/pysemver
bin/python
bin/python3
bin/streamlit
bin/tqdm
bin/watchmedo
pyvenv.cfg
